{include file="../../templates/header.tpl.html"} 
        
<form method="post" action="submit.php" name="configs">
<table width="80%" align="center" cellpadding="5">
  <tr>
    <td colspan="3"><strong>General Site Configuration:</strong> </td>
    </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Site Name: </td>
    <td><input name="site_name" type="text" id="sitename" value="{$config_query[0].sitename}" size="35"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>From Address: </td>
    <td><input name="from_address" type="text" id="fromaddress" value="{$config_query[0].fromaddress}" size="35"></td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
    <td valign="top">Is this a multi-section site? </td>
    <td><input name="multisection_p" type="radio" value="1" {if $config_query[0].multisection == 1}checked{/if}>
    Yes
    <input name="multisection_p" type="radio" value="0" {if $config_query[0].multisection == 0}checked{/if}>
    No</td>
  </tr>
  <tr>
    <td colspan="3"><hr></td>
  </tr>
  <tr>
    <td colspan="3"><strong>Permissions Configuration:</strong> </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td valign="top">{$section_name|capitalize} Norms: </td>
    <td>
	<select name="s_norms[]" size="6" multiple>
		{assign var=snorm_next value=0}
		
		{section name=i loop=$allmodules}
			
			<option value="{$allmodules[i].id}" {if $allmodules[i].id == $s_norms_a[$snorm_next]}selected{math equation="x + 1" x=$snorm_next assign=snorm_next}{/if}>{$allmodules[i].name}</option>
    	{/section}
	</select>
	</td>
  </tr>
  <tr>
    <td colspan="3"><hr></td>
  </tr>
  <tr>
    <td colspan="3"><strong>Events Configuration:</strong> </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td valign="top">Permit event series?</td>
    <td><input name="eventseries_p" type="radio" value="1" {if $config_query[0].eventseries == 1}checked{/if}>
Yes
<input name="eventseries_p" type="radio" value="0" {if $config_query[0].eventseries == 0}checked{/if}>
No</td>
  </tr>
  <tr>
    <td colspan="3"><hr></td>
  </tr>
  <tr>
    <td colspan="3"><strong>Photo Configuration:</strong> </td>
    </tr>
  <tr>
    <td>&nbsp;</td>
    <td> Photo Resize Width:</td>
    <td><input name="photo_width" type="text" id="photo_width " value="{$config_query[0].photo_resize_width}"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td> Photo Resize Height: </td>
    <td><input name="photo_height" type="text" id="photo_height" value="{$config_query[0].photo_resize_height}"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="2"><strong></strong></td>
    </tr>
  <tr>
    <td>&nbsp;</td>
    <td> <p>Photo Thumbnail Size:<br>
      <strong><font size="1">(Thumbnail is a square): </font></strong></p>
      </td>
    <td><input name="photo_thumb" type="text" id="photo_thumb" value="{$config_query[0].photo_thumb_resize}"></td>
  </tr>
  <tr>
    <td colspan="3"><hr></td>
  </tr>
  <tr>
    <td colspan="3"><strong>Image Configuration:</strong> </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td> Image Resize Width:</td>
    <td><input name="img_width" type="text" id="img_width " value="{$config_query[0].img_resize_width}"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td> Image Resize Height: </td>
    <td><input name="img_height" type="text" id="img_height" value="{$config_query[0].img_resize_height}"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="2"><strong><font size="1">* Only fill in one of the following (set the other to 0): </font></strong></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td> Image Thumbnail Resize Width:</td>
    <td><input name="img_thumb_width" type="text" id="img_thumb_width" value="{$config_query[0].img_thumb_resize_width}"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td> Image Thumbnail Resize Height: </td>
    <td><input name="img_thumb_height" type="text" id="img_thumb_height" value="{$config_query[0].img_thumb_resize_height}"></td>
  </tr>
  <tr>
    <td colspan="3"><hr></td>
  </tr>
  <tr>
    <td colspan="3"><strong>Features Configuration:</strong> </td>
  </tr>
  <tr>
    <td colspan="3"><hr></td>
  </tr>
  <tr>
    <td colspan="3"><strong>Members Configuration:</strong> </td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
    <td valign="top">Associate Members with Locations? </td>
    <td><input name="memberloc_p" type="radio" value="1" {if $config_query[0].memberloc == 1}checked{/if}>
Yes
  <input name="memberloc_p" type="radio" value="0" {if $config_query[0].memberloc == 0}checked{/if}>
No</td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
    <td valign="top">Add username and password for members? </td>
    <td><input name="memberpass_p" type="radio" value="1" {if $config_query[0].memberpass == 1}checked{/if}>
Yes
  <input name="memberpass_p" type="radio" value="0" {if $config_query[0].memberpass == 0}checked{/if}>
No</td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
    <td valign="top">Custom Field 1: </td>
    <td><input name="member_cust1" type="text" id="member_cust1" value="{$config_query[0].member_cust1}" size="35"></td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
    <td valign="top">Custom Field 2: </td>
    <td><input name="member_cust2" type="text" id="member_cust2" value="{$config_query[0].member_cust2}" size="35"></td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
    <td valign="top">Custom Field 3: </td>
    <td><input name="member_cust3" type="text" id="member_cust3" value="{$config_query[0].member_cust3}" size="35"></td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
    <td valign="top">Custom Field 4: </td>
    <td><input name="member_cust4" type="text" id="member_cust4" value="{$config_query[0].member_cust4}" size="35"></td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
    <td valign="top">Custom Field 5: </td>
    <td><input name="member_cust5" type="text" id="member_cust5" value="{$config_query[0].member_cust5}" size="35"></td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
    <td valign="top">Custom Field 6: </td>
    <td><input name="member_cust6" type="text" id="member_cust6" value="{$config_query[0].member_cust6}" size="35"></td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
    <td valign="top">Custom Field 7: </td>
    <td><input name="member_cust7" type="text" id="member_cust7" value="{$config_query[0].member_cust7}" size="35"></td>
  </tr>
  <tr>
    <td colspan="3"><hr></td>
  </tr>
  <tr>
    <td colspan="3" valign="top"><strong>Store Configuration: </strong></td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
    <td valign="top">PayPal Address: </td>
    <td><input name="paypalemail" type="text" id="payl" value="{$config_query[0].paypal_email}" size="35"></td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
    <td valign="top">Store Address: </td>
    <td><textarea name="storeaddress" cols="30" rows="5" id="storeaddress">{$config_query[0].store_address}</textarea>
	{literal}
	<script language="JavaScript1.2" defer>
	var config = new Object(); // create new config object
		config.toolbar = [
		  ['bold','italic','underline','separator'],['htmlmode']
		]; 

		editor_generate('storeaddress',config);
	   </script>
	   {/literal}</td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
    <td valign="top">Price to ship first item: </td>
    <td><input name="shipfirst" type="text" id="shipfirst" value="{$config_query[0].ship_first}"></td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
    <td valign="top">Additional Item (within USA) </td>
    <td><input name="shipusa" type="text" id="shipusa" value="{$config_query[0].ship_usa}"></td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
    <td valign="top">Additional Item (Internationally) </td>
    <td><input name="shipint" type="text" id="paypal_address5" value="{$config_query[0].ship_int}"></td>
  </tr>
  <tr>
    <td colspan="3" valign="top"><div align="center">
      <p>
        <input name="action" type="hidden" id="action" value="submit">
</p>
      <p>
        <input type="submit" name="Submit" value="modify configs">
          </p>
    </div></td>
    </tr>
</table>


</form>

{include file="../../templates/footer.tpl.html"}