</td>
          <td width="32" background="/images/body_right.jpg">&nbsp;</td>
        </tr>
        <tr>
          <td width="32"><img src="/images/body_bl.jpg" width="32" height="40"></td>
          <td background="/images/body_bot.jpg">&nbsp;</td>
          <td width="32"><img src="/images/body_br.jpg" width="32" height="40"></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td width="123" valign="top"><table width="123"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><img src="/images/home_top{if $page == "home"}_f2{/if}.jpg" name="home_top" width="123" height="20" id="home_top"></td>
      </tr>
      <tr>
        <td><a href="/" onMouseOver="MM_swapImage('home_top','','/images/home_top_f2.jpg',1)" onMouseOut="MM_swapImgRestore()"><img src="/images/home.jpg" name="home" width="123" height="20" border="0" id="home"></a></td>
      </tr>
      <tr>
        <td><img src="/images/us_top{if $page == "us"}_f2{/if}.jpg" name="us_top" width="123" height="41" id="us_top"></td>
      </tr>
      <tr>
        <td><a href="/us" onMouseOver="MM_swapImage('us_top','','/images/us_top_f2.jpg',1)" onMouseOut="MM_swapImgRestore()"><img src="/images/us.jpg" name="us" width="123" height="21" border="0" id="us"></a></td>
      </tr>
      <tr>
        <td><img src="/images/new_top.jpg" name="new_top" width="123" height="39" id="new_top"></td>
      </tr>
      <tr>
        <td><a href="/new" onMouseOver="MM_swapImage('new_top','','/images/new_top_f2.jpg',1)" onMouseOut="MM_swapImgRestore()"><img src="/images/new.jpg" name="new" width="123" height="21" border="0" id="new"></a></td>
      </tr>
      <tr>
        <td><img src="/images/ours_top.jpg" name="ours_top" width="123" height="40" id="ours_top"></td>
      </tr>
      <tr>
        <td><a href="/ours" onMouseOver="MM_swapImage('ours_top','','/images/ours_top_f2.jpg',1)" onMouseOut="MM_swapImgRestore()"><img src="/images/ours.jpg" name="ours" width="123" height="20" border="0" id="ours"></a></td>
      </tr>
      <tr>
        <td><img src="/images/yours_top.jpg" name="yours_top" width="123" height="40" id="yours_top"></td>
      </tr>
      <tr>
        <td><a href="/yours" onMouseOver="MM_swapImage('yours_top','','/images/yours_top_f2.jpg',1)" onMouseOut="MM_swapImgRestore()"><img src="/images/yours.jpg" name="yours" width="123" height="21" border="0" id="yours"></a></td>
      </tr>

<!-- NEW -->
      <tr>
        <td><img src="/images/npoint_top{if $page == "needlepoint"}_f2{/if}.jpg" name="npoint_top" width="123" height="39" id="npoint_top"></td>
      </tr>
      <tr>
        <td><a href="/needlepoint" onMouseOver="MM_swapImage('npoint_top','','/images/npoint_top_f2.jpg',1)" onMouseOut="MM_swapImgRestore()"><img src="/images/npoint.jpg" name="free" width="123" height="39" border="0" id="free"></a></td>
      </tr>


      <tr>
        <td><img src="/images/pneedle_top{if $page == "punchneedle"}_f2{/if}.jpg" name="pneedle_top" width="123" height="40" id="pneedle_top"></td>
      </tr>
      <tr>
        <td><a href="/punchneedle" onMouseOver="MM_swapImage('pneedle_top','','/images/pneedle_top_f2.jpg',1)" onMouseOut="MM_swapImgRestore()"><img src="/images/pneedle.jpg" name="links" width="123" height="39" border="0" id="links"></a></td>
      </tr>

<!-- END NEW -->

      <tr>
        <td><img src="/images/free_top{if $page == "free"}_f2{/if}.jpg" name="free_top" width="123" height="39" id="free_top"></td>
      </tr>
      <tr>
        <td><a href="/free" onMouseOver="MM_swapImage('free_top','','/images/free_top_f2.jpg',1)" onMouseOut="MM_swapImgRestore()"><img src="/images/free.jpg" name="free" width="123" height="21" border="0" id="free"></a></td>
      </tr>


      <tr>
        <td><img src="/images/links_top{if $page == "links"}_f2{/if}.jpg" name="links_top" width="123" height="40" id="links_top"></td>
      </tr>
      <tr>
        <td><a href="/links" onMouseOver="MM_swapImage('links_top','','/images/links_top_f2.jpg',1)" onMouseOut="MM_swapImgRestore()"><img src="/images/links.jpg" name="links" width="123" height="21" border="0" id="links"></a></td>
      </tr>


      <tr>
        <td><img src="/images/contact_top{if $page == "contact"}_f2{/if}.jpg" name="contact_top" width="123" height="40" id="contact_top"></td>
      </tr>
      <tr>
        <td><a href="/contact" onMouseOver="MM_swapImage('contact_top','','/images/contact_top_f2.jpg',1)" onMouseOut="MM_swapImgRestore()"><img src="/images/contact.jpg" name="contact" width="123" height="25" border="0" id="contact"></a></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
