{include file="header.tpl.html" page="home"} 

<table width="100%" height="100%"  border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td rowspan="2" align="center" valign="top" background="/images/body.jpg">            <p align="center"><img src="/images/mission.jpg" width="300" height="346"></p>            </td>
          <td width="50%" rowspan="2" align="center" valign="top" background="/images/body.jpg">
		  {$blurb[0].body}
		  </td>
          </tr>
        <tr>
          </tr>
      </table>
	  
{include file="footer.tpl.html" page="home"}