{include file="../../templates/header.tpl.html"} 

<p align=center>
        <b><a href=new.php>add new {$cur_mod.item|lower}</a></b></p>
        
<table width=100% class="content" cellspacing=0 cellpadding=5>
  <tr> 
    <td colspan=3 bgcolor=#000000> <b>{$cur_mod.name|lower}</b> </td>
    {if $cur_mod.cat_p}
		<td align=right bgcolor="#000000">
			{insert name=category_dropdown cur_cat=$cur_cat.id module=$module}
		</td>
	{/if}
  </tr>
  
  {section name=i loop=$faqs} 
  <tr valign=top> 
    <td width=5% align=center> <p><font size=-1><a href=edit.php?id={$faqs[i].id}><font size="1">edit</font></a><font size="1"><br>
    </font></font><font size=1><a href=delete.php?id={$faqs[i].id}>delete</a></font></p>    </td>
    <td width="3%" align="center"><strong>{$faqs[i].priority}</strong></td>
	<td width="67%"> <p><b><font size=-1 class="title">{$faqs[i].question}</font></b> <br>
        <font size=1>{$faqs[i].answer|truncate:300}</font></td>
    {if $cur_mod.cat_p}
		<td width=25% valign="top">
			<strong class="title">Category:</strong>
			<br><font size="1">
			{if $faqs[i].category > 0}
				{insert name=category_name modid=$module id=$faqs[i].category}
			{else}
				<i>No Category Assigned</i>
			{/if}
			</font>
		</td>
	{/if}
  </tr>
  {sectionelse} 
  <tr> 
    <td colspan={if $cur_mod.cat_p}4{else}3{/if}><p>There are no items to display.</p></td>
  </tr>
  {/section} 
</table>

{include file="../../templates/footer.tpl.html"}